
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="../Search/ProductList" method="post">
    <input type="text" value="Furniture?" />
    <input type="submit" value="Sumbit" class="btn-danger"/>
</form>