@model List<UnSpaceWebApp.Models.EtsyItem>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="../Search/ProductList" method="post">
    <input type="text" name="searchQ" value="Furniture?" />
    <input type="submit" value="Sumbit" class="btn-danger" />
</form>

@if (Model != null)
{
    foreach (var m in Model)
    {
        @m.Listing_Id
    }
}
